  div.center {
    text-align: center;
  }
  
.gride{
    display: grid;
    grid-template-columns: 50% 50%;
}
.div-button{
    align-items: center;
}

.desingButton{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: white;
    border-style: none;
    background-color: rgba(232, 232, 232, 0.2);
    border-radius: 10px;
}
.desingButton:hover{
    color: #1883ba;
    background-color: #ffffff;
  }